.custom-button {
  width: 214px;
  height: 38px;
  padding: 12px 20px 12px 20px; 
  border-radius: 4px;
  gap: 8px; 
  background-color: #F28D35;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  white-space: nowrap;
  }