.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1440px;
    height: 324px;
    padding: 40px 80px 20px 80px;
    gap: 40px;
    background: #6B3CC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}