.hero-img{
    width: 1440px;
    height: 700px;
    object-fit: cover; 
    

}


.custom-box {
    width: 630px;
    height: fit-content;
    min-height: 306px;
    top: 354px;
    left: 80px;
    padding: 24px 40px 32px 40px;
    gap: 20px;
    position: absolute;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);

  display: flex;
  flex-direction: column; /* Display children elements vertically */
  align-items: flex-start;
  }
  
  .custom-text {
    width: 556px;
    height: 192px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF; 
    margin-bottom: 20px;
  }


.webDevelop-section {
    display: grid;
    grid-template-columns: 414px 650px;
    gap: 108px; 
    align-items: center; 
    justify-content: center; 
    margin-left: 188px;
    
  }
  
  .web-img img {
    width: 414px;
    height: 414px;
  }
  
  
  .column2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text-box {
    width: 542px;
    height: 187px;
  }

  .title{
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #6B3CC9;

  }
  .text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
  }

  .digital-section{
    display: grid;
    grid-template-columns: 414px 650px;
    gap: 108px; 
    align-items: center; 
    justify-content: center;
    top:1351px;
    margin-left: 188px;

  }

  .digi-img img {
    width: 414px;
    height: 414px;
  }

  @media (max-width: 768px) {
    .hero-img {
        width: 768px;
        height: 448px;
        top: 77px;
        
    }
  }

  @media (max-width: 375px) {
    .hero-img {
      width: 375px;
      height: 218px;
      top: 75px;
    }
  
    .custom-box {
      width: 375px; 
      height: 294px;
      min-height: 194px; 
      top: 260px; 
      left: 1px; /* Adjusted left position */
      padding: 24px 0px 32px 0px; /* Adjusted padding */
      gap: 20px;
      position: absolute;
    }
  
    .custom-text {
      font-family: Inter;
      font-size: 28px; 
      font-weight: 700;
      line-height: 36px; 
      letter-spacing: -0.02em;
      text-align: left;
      word-wrap: break-word; 
    }
  
    
  }
  