
.custom-navbar {
    width: 1440px;
    height: 77px;
    padding: 26px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B3CC9;
  }
  
  .logo{
    width:238.89px; 
    height: 36.11px;
    padding-left: 1px;
}

.nav-item a {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 68px;
  height: 17px;
  margin-right: 28px; 
  color:#FFFFFF;
  white-space: nowrap;
}

.nav-item:last-child a {
  margin-right: 0;
}

