
.custom-navbar {
    width: 1440px;
    height: 77px;
    padding: 26px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B3CC9;
  }
  
  .logo{
    width:238.89px; 
    height: 36.11px;
}

